
ion-toggle {
    zoom: 0.8;
    top: -6px !important;
    font-family: "Ionicons";
  }
 
  ion-input {
    
    // --box-shadow: none !important; 
    --color: black;
    // --background: rgb(77, 82, 77);
    --padding-bottom: 2px;
    top: -6px;
    width: 50px;
    border-radius: 10%;
    border: 1px solid black;
   
  }

  ion-col {
    color: black;
  }

  // .input{
    
  //   border: 1px solid var(black, #d7d8da);
  // }
   .box{
     border: 1px solid var(--ion-color-step-150, #d7d8da);
   }