<ion-content>
  <ion-list>

    <ion-item class="select-box">
      <ion-label>Week</ion-label>
      <ion-select value="1" placeholder="Select One" (ionChange)="callme($event)">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="10">11</ion-select-option>
        <ion-select-option value="10">12</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <!-- <div *ngFor="let e of products | keyvalue: asIsOrder">
    <ion-item>Day {{e.key}}</ion-item>
  <ion-card *ngFor="let e1 of e.value" [routerLink]="['/showWorkout',e1.categoryId]" [queryParams]="{category: e1.category}">
      <ion-item>
              <ion-col>{{e1.name}}</ion-col>
      </ion-item>
  </ion-card>
</div> -->
  <div *ngFor="let e of products | keyvalue: asIsOrder">
    <ion-item>Day {{e.key}}</ion-item>
    <div class="plan-list">
      <div *ngFor="let e1 of e.value">
        <div  class="plan-item color-2"  *ngIf="e1.category=='W'" [routerLink]="['/showWorkout',e1.categoryId]"
          [queryParams]="{category: e1.category}">
          <div class="plan-title">
            {{e1.name}}
          </div>
        </div>
        
        <div  class="plan-item color-1"  *ngIf="e1.category=='D'" [routerLink]="['/showWorkout',e1.categoryId]"
        [queryParams]="{category: e1.category}">
        <div class="plan-title">
          {{e1.name}}
        </div>
      </div>
      </div>
    </div>
  </div>
</ion-content>