<ion-content>
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="programFormGroup">
      <form [formGroup]="programFormGroup">
        <ng-template matStepLabel>Enter program info</ng-template>
        <mat-form-field>
          <input matInput value="1" placeholder="Program Name" formControlName="programName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Program Range" formControlName="programRange">
          <mat-label>Range in Month</mat-label>
        </mat-form-field>
        <div>
          <button mat-icon-button matStepperNext>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
     <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter workout info</ng-template>
        <mat-form-field *ngFor="let weekDay of week_days">
          <mat-label>{{weekDay}}</mat-label>
          <input type="text" placeholder="{{weekDay}} Workout" formControlName="workoutFor{{weekDay}}" matInput
            [matAutocomplete]="auto" required>
          <!-- autocompletes for monday-->
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getWorkoutName">
            <!-- <mat-option>New Workout</mat-option> -->
            <mat-option *ngFor="let workout of workouts" [value]="workout" matTooltip="{{workout.name}}">
              {{workout.name}}
              <!-- for object fix to not show obj-->
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div>
          <button mat-icon-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button mat-icon-button matStepperNext matTooltip="Forward">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step> 
    <mat-step [stepControl]="dietFormGroup">
      <form [formGroup]="dietFormGroup">
        <ng-template matStepLabel>Enter diet info</ng-template>
        <mat-form-field *ngFor="let weekDay of week_days">
          <mat-label>{{weekDay}}</mat-label>
          <input type="text" placeholder="{{weekDay}} Diet" formControlName="dietFor{{weekDay}}" matInput
            [matAutocomplete]="autoDiet" required>
          <!-- autocompletes for monday-->
          <mat-autocomplete autoActiveFirstOption #autoDiet="matAutocomplete" [displayWith]="getDietName">
            <!-- <mat-option>New Workout</mat-option> -->
            <mat-option *ngFor="let diet of diets" [value]="diet" matTooltip="{{diet.name}}">
              {{diet.name}}
              <!-- for object fix to not show obj-->
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div>
          <button mat-icon-button matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button mat-icon-button matStepperNext matTooltip="Forward">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </form>
    </mat-step> 

    <!--Preview Step-->
    <mat-step [optional]="false">
      <ng-template matStepLabel>Preview</ng-template>
      <p>Program Saved!</p>
      <div>
        <ion-button type="submit" (click)="save()">Submit</ion-button>
        <button mat-icon-button matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
        </button>
        <!-- <button mat-icon-button (click)="stepper.reset()">
          <mat-icon>refresh</mat-icon>
        </button> -->
      </div>
    </mat-step>
  </mat-vertical-stepper>
</ion-content>