.meals{
    padding-top: 10px;
    border-radius: 8px;
    border-width: 10px;
    border: 1px solid green;
    border-bottom: 20px;
}
.error{
    color: red;
}
.ingredients{
    border-radius: 8px;
    border: 1px solid rgb(81, 131, 25);
}
.header{
    padding-top: 20px ;
}