<ion-content>
  <ion-list>
    <form [formGroup]="workoutCreationForm" (ngSubmit)="saveWorkout()">
      <ion-item-sliding>
        <ion-label>Enter Workout Name</ion-label>
        <ion-input class="form-control" [formControlName]="'workoutName'" name="workout-name" required autofocus></ion-input>
        <span *ngIf="!workoutCreationForm.get('workoutName').valid && workoutCreationForm.get('workoutName').touched">
          Please provide a valid Workout Name
      </span>
      </ion-item-sliding>
      <ion-item *ngFor="let e of products">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>{{ e.name }}</ion-col>
              <ion-col> {{e.mainMuscleGrp}}</ion-col>

            </ion-row>
          </ion-grid>
        </ion-label>
        <!-- <ion-input slot="end"></ion-input> -->
        <ion-toggle (ionChange)="update_state($event,e.id)" id="{{ e.name }}" slot="end"></ion-toggle>
        <!-- <ion-radio slot="end"></ion-radio> -->
        <!-- <ion-checkbox slot="start"></ion-checkbox> -->
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col> <ion-button type="submit" color="success">
              Done
          </ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </form>
  </ion-list>
</ion-content>