<ion-content>
    <!-- <div class="plan-list">
        <div class="plan-item color-2"  *ngFor="let e of products" [routerLink]="['/userPrograms',e.id]">
           
            <div class="plan-title">
                {{e.name}}
            </div>
            <div class="plan-description">
                Current Program    
            </div>
        </div>
    </div> -->
    <ion-card *ngFor='let tempProduct of products' [routerLink]="['/userPrograms',tempProduct.id]">
        <ion-card-header>
        <ion-item>
            <ion-grid>
                <ion-row class="plan-item color-2">
                    <ion-col class="plan-title"> {{tempProduct.name}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        </ion-card-header>
    </ion-card>

</ion-content>